@model IEnumerable<Actor>
@{
    ViewData["Title"] = "SearchResult";
}

<form method="get" action="~/actors/SearchResult">
    <div><label for="name">Last Name:</label></div>
    <div>
        <input type="text" name="search" id="name" />
        <input type="submit" value="Search" />
    </div>
</form>

Name:
    @foreach (Actor actor in Model)
    {
        <div>@actor.FirstName @actor.LastName</div>
    }